.about-me-wrapper {
  font-family: "Rajdhani", sans-serif;
  display: flex;
}
.about-me {
  width: 35vw;
  height: 80vh;
  margin: 2.5rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: none;
}

.image.is-rounded {
  border: 2px solid #4a4a4a; /* Slightly lighter border for the image */
}

.title,
.subtitle {
  margin-bottom: 5px;
}

.content {
  line-height: 1.6;
}

.media {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me-text {
  margin: 0.5rem !important;
}
.about-me-box {
  flex: 1;
}

.about-me-info {
  font-size: 1.2rem !important;
}
.imgs {
  margin-right: 2.5rem;
  margin-top: 2.5rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Aligns children to each end */
  height: 80vh;
}
.streak-img-container {
  align-self: flex-end;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.about-me-ps {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-me-info-bottom {
  align-self: flex-end;
}
