.experience-wrapper {
  font-family: "Rajdhani", sans-serif;
  margin: 2rem 2.5rem 0 2.5rem;
}

.hero.is-fullheight {
  min-height: 90vh !important;
}

p{
    font-size: 1.5rem;
}
li

{
    font-size: 1.2rem;
}